<!doctype html>
<html>
  <head>
    <title>Search Alerts</title>
  </head>
  <body>
    <h1>Search Alerts</h1>

    <form>
      <input type="text" name="ip" placeholder="Enter IP address" />

      <button type="submit">Search</button>
    </form>

    <br />

    {% if results %}

    <table border="1">
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>User</th>
        <th>IP</th>
        <th>Port</th>
      </tr>

      {% for alert in results %}

      <tr>
        <td>{{ alert[0] }}</td>
        <td>{{ alert[1] }}</td>
        <td>{{ alert[2] }}</td>
        <td>{{ alert[3] }}</td>
        <td>{{ alert[4] }}</td>
      </tr>

      {% endfor %}
    </table>

    {% endif %}
  </body>
</html>
